.color-accent {
  color: $accent;
}

.margin-top {
  margin-top: 20px;
}

.list-inline {
  &>* {
    display: inline-block;
  }
}

.btn {
  font-family: $font;
  font-size: 16px;
  display: inline-block;
  color: $black-background;
  border-radius: 4px;
  transition: .3s ease;

  &.btn__regular {
    font-family: $font-medium;
  }

  &__underline {
    span {
      text-decoration: underline;
    }
    &:hover {
      span {
        text-decoration: none;
      }
    }
  }

  &__arrow {
    span {
      display: inline-block;
      padding-right: 20px;
      position: relative;
      &:before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 1px;
        background-color: $black-background;
        position: absolute;
        top: 10px;
        right: 0;
        transition: .3s ease;
      }
      &:after {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border-top: 1px solid $black-background;
        border-right: 1px solid $black-background;
        transform: rotateZ(45deg);
        position: absolute;
        top: 8px;
        right: 0;
        transition: .3s ease;
      }
    }
    &--gray {
      span {
        color: #777777;
        &:after, &:before {
          border-color: #777777;
        }
      }
    }
  }

  &__accent {
    color: #fff;
    background-color: $accent;

    span {
      &:after {
        border-color: #fff;
      }
      &:before {
        background-color: #fff;
      }
    }
    &--hover {
      &:hover {
        background-color: $accent-hover;
        box-shadow: inset 0 -2px 0 0 rgba(136, 49, 35, 0.61)
      }
    }
  }

  &__white {
    color: $text-color;
    background-color: #fff;
    &--hover {
      &:hover {
        color: #fff;
        background-color: $accent;

        span {
          &:after {
            border-color: #fff;
          }
          &:before {
            background-color: #fff;
          }
        }
      }
    }
  }

  &__border {
    font-family: $font-comforta-bold !important;
    border: 3px solid $black-background;
    width: 175px;
    padding: 10px 0 9px;
    border-radius: 10px;
    &--hover {
      &:hover {
        color: $accent;
        border-color: $accent;

        span {
          &:after {
            border-color: #fff;
          }
          &:before {
            background-color: #fff;
          }
        }
      }
    }
    &--black-hover {
      &:hover {
        color: #fff;
        background-color: $black-background;
      }
    }
  }
}


/////////////////////////////////////////// goods //////////////////////////////

.goods {
  border: 2px solid #eeeeee;
  border-radius: 10px;
  background-color: #fff;
  padding: 7px 7px 12px;
  text-align: center;
  &__img {
    height: 190px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    a {
      display: block;
      height: 100%;
    }

    &--label {
      position: absolute;
      top: 4px;
      right: 4px;

    }
  }

  &__title {
    font-family: $font-heavy;
    font-size: 28px;
    height: 66px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  &__price {
    font-size: 18px;
    margin-bottom: 15px;
    overflow: hidden;
    height: 25px;

    span {
      font-size: 12px;
    }
  }

  &__link {
    margin-bottom: 10px;
  }

  &__info {
    font-family: $font-bold;
    font-size: 12px;
  }
  &__time {
    .icon-clock {
      margin-right: 5px;
      font-size: 16px;
    }
    span {
      font-size: 12px;
    }
  }
}

@media ($desktop) {
  .goods__img {
    height: 180px;
    margin-bottom: 10px;
  }

  .goods__title {
    font-size: 20px;
    height: 50px;
  }
  .goods__price {
    font-size: 14px;
    height: 18px;
  }

}

@media ($tablet) {
  .goods__img {
    height: 140px;
    margin-bottom: 10px;
  }
}

@media ($mobile) {
  .goods__link .btn {
    width: 100%;
  }
}


///////////////////////////////////////// goods horizontal /////////////////////

.goods-hrz {
  height: 340px;
  position: relative;
  background-color: #fff;

  &__mobile {
    display: none;
  }


  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
    }


  }

  &__right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 350px;
    background-color: rgba(255, 255, 255, .8);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 27px;
    &--data {
      font-size: 12px;
      display: block;
      margin-bottom: 10px;
      height: 14px;
      overflow: hidden;
    }
    &--title {
      font-family: $font-heavy;
      display: block;
      font-size: 20px;
      height: 50px;
      overflow: hidden;
      margin-bottom: 15px;
    }
    &--text {
      font-family: $font-medium;
      font-size: 14px;
      height: 170px;
      overflow: hidden;
      line-height: 1.22;
    }
    &--link {
      text-align: center;
    }
  }

  &--inverse {
    .goods-hrz__right {
      background-color: rgba(0, 0, 0, .8);
      color: #fff;
    }

    .goods-hrz-prop-locate,
    .goods-hrz-prop-date,
    .custom-date{
      svg {
        path {
          stroke: #fff !important;
        }
      }
    }

    .btn.btn__border {
      border-color: #fff;
      color: #fff;
    }
  }

}

.goods-hrz-prop-locate {
  display: inline-block;
  width: 20px;
}

.goods-hrz-prop-manufacturer {
  font-size: 19px;
  margin-left: 6px;

}

.goods-hrz-prop-date,
.custom-date {
  width: 18px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin-left: 7px;

}

.goods-hrz-title {
  font-size: 27px;
  font-family: $font-comforta-bold;
  letter-spacing: -1px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  &__link {
    display: inline-block;
    width: calc(100% - 40px);
    line-height: 1.1;
    height: 60px;
    overflow: hidden;
  }

  .country-flag {
    height: 100%;
    display: inline-block;
    margin-top: 10px;
  }
}


.goods-hrz-prop {
  margin-bottom: 10px;
  height: 68px;
  overflow: hidden;

  &__cut {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__item {
    font-weight: bold;
  }
}

.goods-hrz-icons {
  margin-bottom: 5px;

  &__item {
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    animation: swim ease-in-out 3s infinite;
    transition: .3s ;
    &:hover {
      animation: none;
      z-index: 5;
    }

    &.open {
      animation: none;
      z-index: 5;
    }

    &:last-child {
      margin-right: 0;

    }
    &>a {
      display: block;
      height: 100%;
      position: relative;
      padding: 5px;

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
      }
    }

    .iconmoon {
      line-height: .5;
    }

    .icon-fish {
      font-size: 22px;
    }

    .icon-fish-2 {
      font-size: 34px;
    }

    .icon-fish-3 {
      font-size: 30px;
    }

  }
}

@for $i from 1 through 10 {
  .goods-hrz-icons__item:nth-child(#{$i}) {
    animation-delay: #{$i/2}s;
  }
}

@keyframes swim {
  0%   {
    transform: translate(0, 0);
  }
  25%  {
    transform: translateY(2px);
  }
  50%  {
    transform: translateY(-2px);
  }
  75%  {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

.goods-hrz-icon {
  max-width: 45px;
  max-height: 45px;
}

.goods-hrz-short-description {
  font-weight: bold;
  height: 33px;
  overflow: hidden;
  margin-bottom: 15px;

}

@media ($tablet) {
  .goods-hrz__back img {
    max-width: none;
  }
}

@media ($mobile) {

  .goods-hrz__back {
    display: none;
  }

  .goods-hrz__right {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 15px 1px rgba(0,0,0, .4);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .goods-hrz__mobile {
    display: block;
    margin-bottom: 10px;
  }

  .goods-hrz {
    height: auto;
  }

  .goods-hrz__back img {
    max-width: 100%;
  }

  .goods-hrz-title {
    font-size: 20px;
    padding: 10px 0px;
  }

  .goods-hrz-title__link {
    height: auto;
  }

  .goods-hrz-title .country-flag {
    margin-top: 5px;
  }



}



/////////////////////////////// circle timer ///////////////////////////////////

.time_circles>div>h4 {
  text-transform: none;
  position: absolute;
  top: 26px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px !important;
  font-family: $font-light;
  color: #fff;
}

.time_circles>div>span {
  font-size: 24px !important;
  margin-top: 5px;
  font-weight: normal;
  font-family:$font-bold;
}

@media ($mobile) {

  .time_circles > div > h4 {
    font-size: 10px !important;
  }

}


//////////////////////////////////////////// slick //////////////////////////////////
.slick-arrow {
  background-color: #231f20;
  color: transparent;
  width: 35px;
  height: 50px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  border: 0;
  z-index: 4;

  &:after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    position: absolute;
    top: 19px;
  }
  &.slick-prev {
    left: 0;
    &:after {
      transform: rotateZ(-135deg);
      left: 13px;
    }

  }
  &.slick-next {
    right: 0;
    &:after {
      transform: rotateZ(45deg);
      right: 14px;
    }
  }
}


///////////////////////////////////////////// section ////////////////////////////////////

.section {
  padding: 40px 0 25px;

  &--grayBack {
    background-color: #f1f1f1;
  }
}


////////////////////////////////////////// datepicker /////////////////////////////////////

.custom-date {
  &__icon {
    width: 18px;
    display: inline-block;
    cursor: pointer;
  }
}

///////////////////////////////////////// icon tool tip //////////////////////////////////

.icon-tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  z-index: 5;
  padding: 15px 15px 5px 76px;
  border-radius: 7px;
  width: 295px;
  font-size: 12px;
  box-shadow: 0 0 12px 1px rgba(0,0,0,.4);
  color: $text-color;
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -5px;
    left: 10px;
  }

  &__title {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
    max-width: 165px;
  }

  &__text {
    margin-bottom: 10px;
  }

  &__close {
    position: absolute;
    top: 7px;
    right: 8px;
    line-height: 1;

    &:after{
      content: '✖';
      font-size: 20px;
    }
  }


  &__img {
    position: absolute;
    top: 11px;
    left: 11px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
    }
  }
}


//////////////////////////////////////// three item slider ////////////////////////////////////

.three-item-slider {
  margin-bottom: 45px;

  &__item {
    margin: 0 5px;
  }


  .slick-arrow {
    top: -17px;
    border: 2px solid $text-color;
    background: transparent;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: .3s ease;

    &:hover {
      background-color: $text-color;
      &:after {
        border-color: #fff;
      }
    }

    &:after {
      border-color: $text-color;
      top: 10px;
      width: 9px;
      height: 9px;
    }

    &.slick-prev {
      right: 40px;
      left: inherit;
      &:after {
        left: 11px;
      }
    }

    &.slick-next {
      &:after {
        left: 9px;
      }
    }
  }
}

@media ($mobile) {

  .three-item-slider .goods__img img {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
  }

  .three-item-slider .goods__img {
    height: auto;
  }
}

///////////////////////////////////////////// one item slider //////////////////////

.one-item-slider {
  @extend .three-item-slider;
}


//////////////////////////////////// rate it //////////////////////////////////

.rateit .rateit-preset,
.rateit .rateit-hover,
.rateit .rateit-selected {
  background: none;
  overflow: hidden;
  cursor: default;
}

.rateit .rateit-hover,
.rateit .rateit-selected {
  color: $accent-second;
}

.rateit-font {
  font-size: 15px;
  line-height: 1;
}















