@media ($desktop) {

  .breadcrumbs-block {
    margin-top: 0;
    padding: 20px 0;
  }

  .breadcrumbs {
    margin-left: 0;
    font-size: 14px;
  }

  .right-sidebar {
    padding-left: 20px;
  }

  .site-footer-apps__item a {
    width: 100px;
  }

  .main-goods-list__item {
    margin-right: 3px;
  }

  .main-shares {
    background: #fafafa !important;
  }

  .main-shares__title {
    font-size: 28px;
    height: 73px;
  }

  .main-shares__subtitle {
    font-size: 16px;
  }








}

