@media ($tablet) {

  a, a:after, a:before, button, input {
    transition: none !important;
  }


  h1, .title-h1 {
    font-size: 28px;
  }

  h2, .title-h2 {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .page-title {
    margin-bottom: 20px;
    margin-top: 5px;
  }



  .right-sidebar {
    padding-left: 0;
  }

  .right-sidebar-list {
    padding-bottom: 15px;
  }

  .right-sidebar-list {
    display: none;
  }

  .right-sidebar-title {
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    font-size: 18px;

    &.rotate {
      &:after {
        transform: rotateZ(-45deg);
      }
    }

    &:after {
      content: "";
      display: block;
      height: 7px;
      width: 7px;
      border-top: 1px solid $text-color;
      border-right: 1px solid $text-color;
      transform: rotateZ(135deg);
      position: absolute;
      top: 7px;
      right: 8px;
      transition: .3s ease;
    }
  }




}