@media ($mobile) {
  .mob-hide {
    display: none;
  }

  .container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  h1, .title-h1 {
    font-size: 24px;
  }

  p {
    margin-bottom: 5px;
  }



  .right-sidebar-list__title {
    font-size: 14px;
  }

  .right-sidebar {
    padding-top: 0;
    margin-bottom: 10px;
  }
  .page-title {
    margin-bottom: 15px;
    line-height: .8;
  }

  .site-footer-apps__item a {
    width: 140px;
  }

  .pagination__item a {
    padding: 8px 12px;
  }

  .pagination__item.pagination__item--left a span {
    font-size: 0;
    line-height: 22px;
  }
  .pagination__item.pagination__item--left a  {
    padding: 8px 0;
  }

  .pagination__item.pagination__item--right a span {
    font-size: 0;
    line-height: 22px;
  }

  .pagination__item.pagination__item--right a  {
    padding: 8px 0;
  }

  .pagination span {
    width: 15px;
  }

  .nav-button__text {
    font-size: 12px;
    line-height: 50px;
    white-space: normal;
  }

  .nav-button {
    height: 49px;
    padding: 0 6px 0 28px;
  }

  .nav-button__icon {
    font-size: 17px;
    top: 18px;
    left: 8px;
  }

  .nav__list {
    padding: 10px 0;
  }

  .nav__list--item {
    margin-right: 3px;
  }

  .activity-slider__top--item {
    height: 52vw;
  }

  .activity-slider__nav--item {
    height: 13vw;
    max-width: 20vw;
  }






}