@media ($mobile) {
  .mob-hide {
    display: none;
  }

  .container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  h1, .title-h1 {
    font-size: 24px;
  }

  p {
    margin-bottom: 5px;
  }



  .right-sidebar-list__title {
    font-size: 14px;
  }

  .right-sidebar {
    padding-top: 0;
    margin-bottom: 10px;
  }
  .page-title {
    margin-bottom: 15px;
    line-height: .8;
  }

  .site-footer-apps__item a {
    width: 140px;
  }


  .main-goods-list__item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    margin-bottom: 10px;
  }

  .main-goods-list__item:nth-child(3n+3) {
    margin-right: auto;
  }

  .main-goods-list {
    margin-bottom: 30px;
  }

  .accent-block__list {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  .accent-block__list--item {
    width: 260px;
    margin-bottom: 20px;
  }

  .accent-block {
    padding: 0;
    height: auto;
  }

  .main-shares__title {
    padding: 0;
    font-size: 20px;
    height: auto;
  }

  .main-shares {
    height: auto;
    padding: 30px 0;
  }

  .main-shares__apps--item {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .main-shares__subtitle {
    font-size: 14px;
    max-height: inherit;
  }

  .top-banner-text__title {
    font-size: 20px;
  }

  .top-banner-text__subtitle {
    font-size: 14px;
    margin-bottom: 0;
  }

  .top-banner-text {
    max-width: 300px;
    padding: 15px 20px 0;
  }

  .top-banner-text:after {

    border-left-width: 150px;
    border-right-width: 150px;
    border-top-width: 20px;
    bottom: -19px;
  }

  .top-banner-text__button {
    bottom: -50px;
  }

  .top-banner {
    height: 440px;
  }




}