@charset "UTF-8";

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto/roboto-regular-font.eot");
  src: url("../fonts/roboto/roboto-regular-font.eot?#iefix")format("embedded-opentype"),
  url("../fonts/roboto/roboto-regular-font.woff") format("woff"),
  url("../fonts/roboto/roboto-regular-font.woff2") format("woff2"),
  url("../fonts/roboto/roboto-regular-font.ttf") format("truetype"),
  url("../fonts/roboto/roboto-regular-font.svg#webfont") format("swg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/roboto/roboto-medium-font.eot");
  src: url("../fonts/roboto/roboto-medium-font.eot?#iefix")format("embedded-opentype"),
  url("../fonts/roboto/roboto-medium-font.woff") format("woff"),
  url("../fonts/roboto/roboto-medium-font.woff2") format("woff2"),
  url("../fonts/roboto/roboto-medium-font.ttf") format("truetype"),
  url("../fonts/roboto/roboto-medium-font.svg#webfont") format("swg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/roboto/roboto-bold-font.eot");
  src: url("../fonts/roboto/roboto-bold-font.eot?#iefix")format("embedded-opentype"),
  url("../fonts/roboto/roboto-bold-font.woff") format("woff"),
  url("../fonts/roboto/roboto-bold-font.woff2") format("woff2"),
  url("../fonts/roboto/roboto-bold-font.ttf") format("truetype"),
  url("../fonts/roboto/roboto-bold-font.svg#webfont") format("swg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/roboto/roboto-light-font.eot");
  src: url("../fonts/roboto/roboto-light-font.eot?#iefix")format("embedded-opentype"),
  url("../fonts/roboto/roboto-light-font.woff") format("woff"),
  url("../fonts/roboto/roboto-light-font.woff2") format("woff2"),
  url("../fonts/roboto/roboto-light-font.ttf") format("truetype"),
  url("../fonts/roboto/roboto-light-font.svg#webfont") format("swg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/roboto/roboto-black-font.eot");
  src: url("../fonts/roboto/roboto-black-font.eot?#iefix")format("embedded-opentype"),
  url("../fonts/roboto/roboto-black-font.woff") format("woff"),
  url("../fonts/roboto/roboto-black-font.woff2") format("woff2"),
  url("../fonts/roboto/roboto-black-font.ttf") format("truetype"),
  url("../fonts/roboto/roboto-black-font.svg#webfont") format("swg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Italic";
  src: url("../fonts/roboto/roboto-italic-font.eot");
  src: url("../fonts/roboto/roboto-italic-font.eot?#iefix")format("embedded-opentype"),
  url("../fonts/roboto/roboto-italic-font.woff") format("woff"),
  url("../fonts/roboto/roboto-italic-font.woff2") format("woff2"),
  url("../fonts/roboto/roboto-italic-font.ttf") format("truetype"),
  url("../fonts/roboto/roboto-italic-font.svg#webfont") format("swg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Andrijtype";
  src: url("../fonts/bold/andrijtype_-_oksanatextheavy-font.eot");
  src: url("../fonts/bold/andrijtype_-_oksanatextheavy-font.eot?#iefix")format("embedded-opentype"),
  url("../fonts/bold/andrijtype_-_oksanatextheavy-font.woff") format("woff"),
  url("../fonts/bold/andrijtype_-_oksanatextheavy-font.woff2") format("woff2"),
  url("../fonts/bold/andrijtype_-_oksanatextheavy-font.ttf") format("truetype"),
  url("../fonts/bold/andrijtype_-_oksanatextheavy-font.svg#webfont") format("swg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica Neue Cur Roman";
  src: url("../fonts/helvetica/helveticaneuecyr-roman-webfont.eot");
  src: url("../fonts/helvetica/helveticaneuecyr-roman-webfont.eot?#iefix")format("embedded-opentype"),
  url("../fonts/helvetica/helveticaneuecyr-roman-webfont.woff") format("woff"),
  url("../fonts/helvetica/helveticaneuecyr-roman-webfont.woff2") format("woff2"),
  url("../fonts/helvetica/helveticaneuecyr-roman-webfont.ttf") format("truetype"),
  url("../fonts/helvetica/helveticaneuecyr-roman-webfont.svg#webfont") format("swg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ComfortaaRegular";
  src: url("../fonts/Comfortaa/ComfortaaRegular/ComfortaaRegular.eot");
  src: url("../fonts/Comfortaa/ComfortaaRegular/ComfortaaRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Comfortaa/ComfortaaRegular/ComfortaaRegular.woff") format("woff"),
  url("../fonts/Comfortaa/ComfortaaRegular/ComfortaaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ComfortaaLight";
  src: url("../fonts/Comfortaa/ComfortaaLight/ComfortaaLight.eot");
  src: url("../fonts/Comfortaa/ComfortaaLight/ComfortaaLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Comfortaa/ComfortaaLight/ComfortaaLight.woff") format("woff"),
  url("../fonts/Comfortaa/ComfortaaLight/ComfortaaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ComfortaaBold";
  src: url("../fonts/Comfortaa/ComfortaaBold/ComfortaaBold.eot");
  src: url("../fonts/Comfortaa/ComfortaaBold/ComfortaaBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Comfortaa/ComfortaaBold/ComfortaaBold.woff") format("woff"),
  url("../fonts/Comfortaa/ComfortaaBold/ComfortaaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "BoomBoomRegular";
  src: url("../fonts/BoomBoom/BoomBoomRegular/BoomBoomRegular.eot");
  src: url("../fonts/BoomBoom/BoomBoomRegular/BoomBoomRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/BoomBoom/BoomBoomRegular/BoomBoomRegular.woff") format("woff"),
  url("../fonts/BoomBoom/BoomBoomRegular/BoomBoomRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}



@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/awesome/FontAwesome.otf");
  src: url("../fonts/awesome/fontawesome-webfont.woff") format("woff"),
  url("../fonts/awesome/fontawesome-webfont.ttf") format("truetype"),
  url("../fonts/awesome/fontawesome-webfont.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url("../fonts/iconmoon/icomoon.eot");
  src:  url('../fonts/iconmoon/icomoon.eot?113q2e#iefix') format('embedded-opentype'),
  url('../fonts/iconmoon/icomoon.ttf?113q2e') format('truetype'),
  url('../fonts/iconmoon/icomoon.woff?113q2e') format('woff'),
  url('../fonts/iconmoon/icomoon.svg?113q2e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.iconmoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dislike:before {
  content: "\e914";
}
.icon-facebook-logo:before {
  content: "\e91a";
}
.icon-like:before {
  content: "\e91b";
}
.icon-list:before {
  content: "\e91c";
}
.icon-logout:before {
  content: "\e91d";
}
.icon-settings:before {
  content: "\e91e";
}
.icon-user:before {
  content: "\e91f";
}
.icon-fish-1:before {
  content: "\e911";
}
.icon-aeroplane:before {
  content: "\e912";
}
.icon-big-fish:before {
  content: "\e913";
}
.icon-fish-2:before {
  content: "\e915";
}
.icon-fish-3:before {
  content: "\e916";
}
.icon-fishing:before {
  content: "\e917";
}
.icon-fishing-rod:before {
  content: "\e918";
}
.icon-handshake:before {
  content: "\e919";
}
.icon-dishes:before {
  content: "\e90b";
}
.icon-clock:before {
  content: "\e90c";
}
.icon-bottle:before {
  content: "\e90d";
}
.icon-oyster:before {
  content: "\e90e";
}
.icon-bear:before {
  content: "\e90f";
}
.icon-dish-fish:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e908";
}
.icon-electro-2:before {
  content: "\e909";
}
.icon-roket:before {
  content: "\e90a";
}
.icon-crab:before {
  content: "\e902";
}
.icon-fish:before {
  content: "\e906";
}
.icon-shrimp:before {
  content: "\e907";
}
.icon-anchor:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e901";
}
.icon-electro:before {
  content: "\e903";
}
.icon-house:before {
  content: "\e904";
}
.icon-rak:before {
  content: "\e905";
}


