.pagination {
  color: #008bcc;
  font-family: $font-helvetica;
  font-size: 12px;
  text-align: center;
  display: block;
  padding: 20px 0;

  span {
    color: #666666;
    display: block;
    width: 35px;
  }

  .active {
    a {
      background-color: #f4f4f4;
      text-decoration: none;
      color: $text-color;
    }
  }

  .disabled {

  }

  &__item {
    display: inline-block;
    a {
      text-decoration: underline;
      padding: 8px 12px;
      display: block;
      border-radius: 3px;
      &:hover {
        text-decoration: none;
        span {
          text-decoration: none;
        }
      }
    }

    &--right {
      float: right;
      span {
        color: #008bcc;
        margin-right: 30px;
        display: inline-block;
        position: relative;
        text-decoration: underline;
        width: auto;
        font-family: $font-medium;

        &:before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 1px;
          background-color: #008bcc;
          position: absolute;
          top: 8px;
          right: -20px;
          transition: .3s ease;
        }
        &:after {
          content: '';
          display: block;
          width: 5px;
          height: 5px;
          border-top: 1px solid #008bcc;
          border-right: 1px solid #008bcc;
          transform: rotateZ(45deg);
          position: absolute;
          top: 6px;
          right: -21px;
          transition: .3s ease;
        }
      }
    }
    &--left {
      float: left;
      span {
        color: #008bcc;
        margin-left: 30px;
        display: inline-block;
        position: relative;
        text-decoration: underline;
        width: auto;
        font-family: $font-medium;

        &:before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 1px;
          background-color: #008bcc;
          position: absolute;
          top: 8px;
          left: -20px;
          transition: .3s ease;
        }
        &:after {
          content: '';
          display: block;
          width: 5px;
          height: 5px;
          border-top: 1px solid #008bcc;
          border-right: 1px solid #008bcc;
          transform: rotateZ(-135deg);
          position: absolute;
          top: 6px;
          left: -21px;
          transition: .3s ease;
        }

      }
    }
  }
}


.breadcrumbs-block {
  padding: 0 0 25px;
}

.breadcrumbs {
  color: #666666;
  font-size: 12px;
  li {
    position: relative;
    padding-right: 10px;
    a {
      display: inline-block;
      &:hover {
        color: $accent-hover;
      }
      span {
        text-decoration: underline;
      }

      &:hover {
        span {
          text-decoration: none;
        }
      }
      &:after {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-right: 1px solid #666666;
        border-top: 1px solid #666666;
        transform: rotateZ(45deg);
        margin-left: 8px;
        position: relative;
        bottom: 1px;
      }
    }
  }
}

.page-title {
  font-family: $font-heavy;
  margin-bottom: 20px;
  margin-top: 10px;
}

.left-container {
  padding-right: 20px;

  img[align="center"] {
    margin-bottom: 25px;
  }
}

.right-sidebar {
  padding-left: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.right-sidebar-title {
  font-family: $font-bold;
  font-size: 20px;
  border-bottom: 1px dashed #dbdbdb;
  padding-bottom: 5px;
  margin-bottom: 5px;

}

.right-sidebar-list {
  padding-bottom: 35px;
  &__title {
    font-size: 16px;
    padding: 8px 0;
    display: block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &.open {
      color: $accent;
      font-family: $font-medium;
    }
  }
  &__sublist {
    display: none;
    padding-left: 20px;
    padding-top: 10px;
    li {
      margin-bottom: 12px;
      padding-left: 12px;

    }
    a {
      display: inline-block;
      border-bottom: 1px dashed $text-color;
      position: relative;
      transition: .3s ease;

      &:hover {
        border-bottom-color: transparent;
      }

      &:after {
        content: '';
        display: block;
        width: 7px;
        background-color: $text-color;
        height: 1px;
        position: absolute;
        top: 8px;
        left: -19px;
      }
      &:before {
        content: '';
        display: block;
        width:5px;
        height: 5px;
        border-top: 1px solid $text-color;
        border-right: 1px solid $text-color;
        transform: rotateZ(45deg);
        position: absolute;
        top: 6px;
        left: -16px;
      }
    }
  }
}

.activity-data {
  font-size: 14px;
  color: #666666;
}
.activity-slider {
  margin: auto;
}

.activity-slider__top {
  margin-bottom: 10px;
  .slick-arrow {
    background-color: rgba(255, 255, 255, .8);
    opacity: .4;
    transition: .3s ease;
    &:hover {
      opacity: 1;
    }
    &:after {
      border-color: #9e9a99;
    }
    &.slick-prev {
      left: 10px;
    }
    &.slick-next {
      right: 10px;
    }
  }
  &--item {
    height: 360px;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      height: auto;
      max-height: 100%;
    }
  }
}

.activity-slider__nav {
  margin-bottom: 20px;

  .slick-slide {
    .activity-slider__nav--item {
      &:after {
        content: '';
        display: block;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .4;
      }
    }
  }
  .slick-slide.slick-current {
    .activity-slider__nav--item {
      &:after {
        opacity: 0;
      }
    }
  }
  &--item {
    height: 75px;
    max-width: 115px;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
    }
  }
}


.nav {
  text-align: center;
  .init {
    display: none;
  }
  &__list {
    padding: 20px 0;

    &--item {
      display: inline-block;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}




.nav-button {
  position: relative;
  background-color: #f7f7f7;
  height: 49px;
  padding: 0 20px 0 50px;
  border-radius: 5px;
  display: block;
  transition: .3s ease;
  &:hover {
    background-color: $accent;
    color: #fff;
  }

  &__icon {
    font-size: 20px;
    position: absolute;
    top: 14px;
    left: 19px;
  }

  &__text {
    font-family: $font-helvetica;
    font-size: 14px;
    font-weight: 600;
    line-height: 3.6;
    white-space: nowrap;
  }
}

.block-list {

  &__item {
    margin-bottom: 20px;
  }
}


.three-item-list {
  &__item {
    display: inline-block;
    margin-left: -2px;
    width: 32.9%;
    margin-right: 5px;
    margin-bottom: 6px;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
}


.slider-title {
  font-size: 27px;
  max-width: calc(100% - 85px);
  margin-bottom: 15px;
}


.round-gray-border {
  border: 4px solid #eeeeee;
  border-radius: 10px;
}

.product {
  margin-bottom: 40px;

  .activity-slider__top--item {
    height: 310px;
  }

  .round-gray-border {
    padding: 25px;
  }

  &__title {
    font-size: 28px;
    font-family: $font-heavy;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 0;
  }

  &__prop {
    &.goods-hrz-prop {
      font-family: $font-light;
      margin-top: 15px;
      .goods-hrz-prop__item {
        font-weight: 100;
        font-size: 12px;
      }
    }
  }

}

.border-bottom-block {
  border-bottom: 4px solid #eeeeee;
  margin-bottom: 20px;
}

.product-right-block {
  padding-left: 40px;
}

.product-title-date {
  font-size: 15px;
  padding-bottom: 30px;
  display: block;
}

.product-subtitle-md {
  font-size: 16px;

}

.product-size {
  padding: 10px 0;
}

.product-size-list {
  &__item {
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: -2px;
    &:last-child {
      margin-right: 0;
    }
    input {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      &:checked+label {
        color: #fff;
        background-color: $accent;
      }
    }
    label {
      background-color: #f7f7f7;
      width: 70px;
      text-align: center;
      padding: 13px;
      border-radius: 7px;
      transition: background-color .3s ease;
      cursor: pointer;
      font-size: 16px;
    }
  }
}

.product-table {
  width: 100%;
  margin-bottom: 15px;

  tr {
    td:last-child {
      text-align: right;
    }
  }
  &--gray {
    color: #777777;
  }
  &--sm {
    font-size: 14px;
    font-family: $font-light;
  }
  &--lg {
    font-size: 16px;
    tr {
      td {
        padding-bottom: 10px;
      }
    }
  }
  &--xl {
    font-size: 18px;
  }
}

.product-amount {
  &__btn {
    background-color: #f7f7f7;
    width: 25px;
    height: 25px;
    border: 0;
    line-height: 0;
    cursor: pointer;

    &:active {
      background-color: #dbdbdb;
    }
  }
  &__input {
    border: 0;
    width: 60px;
    text-align: center;
  }
}


.product-buy-block {
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;


  &__left {
    font-size: 12px;
    height: 48px;
    order: 1;
    width: 45%;
    line-height: 4.3;
    position: relative;

    &:after {
      content: '';
      width: 35px;
      height: 35px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      background-color: #ededed;
      position: absolute;
      top: 7px;
      right: -17px;
      transform: rotateZ(45deg);
    }

    .goods__time {
      position: relative;
      z-index: 2;
    }

    .goods__time .icon-clock {
      font-size: 15px;
      position: relative;
      top: 1px;
    }


  }

  &__right {
    order: 1;
    width: 55%;
    line-height: 3.1;
    a {
      height: 48px;
      display: block;
      font-size: 16px;
      color:#fff;
      background-color: $accent-second;
      padding-left: 15px;
      transition: background-color .3s ease-in-out;
      &:hover {
        background-color: $accent-second-hover;
      }

    }
  }
}

.product-buy-message {
  color: #999999;
  text-align: center;
  padding: 10px ;
}

.product-info-title {
  font-size: 19px;
  font-family: $font;
}

.product-info-item {
  border: 4px solid #eeeeee;
  padding: 8px;
  position: relative;
  height: 40px;
  width: 45px;
  text-align: center;
  border-radius: 5px;
  margin-left: -2px;
  margin-right: 6px;
  margin-bottom:6px;
  color: #999999;
  &:last-child {
    margin-right: 0;
  }
  &__label {
    font-size: 8px;
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 2px;
  }
}

.product-detail-description {
  &__text {
    color: #888;
  }
}

.product-right,
.product-left {
  margin-bottom: 25px;
}

.goods-banner {
  height: 360px;
  position: relative;
  &__right {
    position: relative;
    height: 360px;
    &:after {
      content: "";
      width: 9999px;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      background-color: rgba(0, 0, 0, 0.8);
    }

    .goods-hrz__right {
      border-radius: 0;
    }

    .goods-hrz-short-description {
      height: 98px;
    }
  }
}

.lk-header {
  padding: 25px;
  border-bottom : 1px dashed #d6d3e9;
}

.lk-user-block {
  position: relative;
  padding-left: 110px;
  min-height: 110px;
  padding-top: 12px;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__img-link {
    display: block;
    height: 90px;
    width: 90px;
    overflow: hidden;
    border-radius: 50%;
  }
  .social-label {
    background-color: #e5e5e5;
    border: 1px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    font-size: 20px;
    font-family: $font-bold;
    margin-bottom: 10px;
  }
  &__prop {
    display: block;
    font-weight: bold;
  }

  &__rating {
    text-align: center;

    .rateit-font {
      font-size: 32px;
      margin-bottom: 20px;
    }

    .rateit .rateit-hover, .rateit .rateit-selected {
      color: #feb21f;
    }

    &-sub-label {

    }
    &-label {
      font-family: $font-bold;
      font-size: 17px;
    }
  }
}

.lk-body {

  &__item {
    border-bottom : 1px dashed #d6d3e9;
    &:last-child {
      border-bottom: 0;
    }

    &.active {
      .lk-body__link {
        color: $accent-second;
      }
    }
  }

  &__link {
    padding: 23px 20px 23px 73px;
    position: relative;
    display: block;
    transition: color .3s ease-in-out;

    &:hover {
      color: $accent-second;
    }



    .iconmoon {
      position: absolute;
    }
    .icon-user {
      top: 17px;
      left: 22px;
      font-size: 33px;
    }
    .icon-settings {
      top: 17px;
      left: 22px;
      font-size: 33px;
    }
    .icon-list {
      top: 20px;
      left: 25px;
      font-size: 23px;
    }

    .icon-logout {
      top: 20px;
      left: 25px;
      font-size: 25px;
      transform: rotateZ(-180deg);
    }
  }

  &__list {
    padding: 0 30px 20px 70px;
    li {
      margin-bottom: 20px;
    }
    a {
      transition: color .3s ease;
      &:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 1px;
        background-color: $text-color;
        margin-bottom: 4px;
        margin-right: 8px;
        transition: background-color .3s ease;

      }
      &:hover {
        &:before {
          background-color: $accent-second;
        }
        color: $accent-second;
      }
    }
  }

  &__text {
    font-size: 18px;
    font-family: $font-medium;
  }

}

.order-item {
  margin-bottom: 20px;

  .border-bottom-dotted:last-child {
    border-bottom: 0 !important;
  }

  &__title {
    font-size: 20px;
    font-family:$font-bold;
    font-weight: bold;
    padding-right: 30px;
    margin-bottom: 0;
  }

}

.order-item-header {
  position: relative;
}

.order-item-prop {
  position: relative;
  min-height: 80px;
  padding-left: 95px;

  &__img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-height: 100%;
      height: 100%;
      max-width: none;
      width: auto;
    }
  }
  &__title {
    font-family: $font-bold;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
  }
  &__list {
    font-size: 14px;
    color: #818181;
    li {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.order-item-table {
  width: 100%;
  margin-bottom: 15px;
  tr {
    td{
      padding-bottom: 5px;
      &:last-child {
        text-align: right;
      }
    }
  }
  b {
    font-family: $font-bold;
    font-weight: bold;
  }
}

.order-item-promo {
  &__input {

  }
}

.order-item-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  &__label {
    font-size: 18px;
  }
  &__prop {
    font-size: 20px;
  }
}


.order-item-date {
  &__icon {
    width: 18px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    bottom: -3px;
  }
}

.lk-title {
  font-family: $font-comforta-bold;
  &--big {
    font-size: 32px;
  }
  &--normal {
    font-size: 24px;
  }
}

.lk-steps {


  &-item {
    position: relative;
    padding-left: 70px;
    margin-bottom: 40px;
    &.active {
      .lk-label {
        border: 1px solid transparent;
        background-color: $accent-second;
        color: #fff;
        
      }
    }
  }
}


.lk-label {
  color: #d0d0d0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px dashed #d0d0d0;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  left: 0;

}


.form-fieldset {
  margin-bottom: 15px;
}


