
.breadcrumbs-block {
  padding: 60px 0 15px;
}

.breadcrumbs {
  color: #666666;
  font-size: 12px;
  margin-left: 150px;
  li {
    position: relative;
    padding-right: 10px;
    a {
      display: inline-block;
      span {
        text-decoration: underline;
      }

      &:hover {
        span {
          text-decoration: none;
        }
      }
      &:after {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-right: 1px solid #666666;
        border-top: 1px solid #666666;
        transform: rotateZ(45deg);
        margin-left: 8px;
        position: relative;
        bottom: 1px;
      }
    }
  }
}

.page-title {
  font-family: $font-heavy;
  margin-bottom: 35px;
  margin-top: 10px;
}

.right-sidebar {
  padding-left: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.right-sidebar-title {
  font-family: $font-bold;
  font-size: 20px;
  border-bottom: 1px dashed #dbdbdb;
  padding-bottom: 5px;
  margin-bottom: 5px;

}

.right-sidebar-list {
  padding-bottom: 35px;
  &__title {
    font-size: 16px;
    padding: 8px 0;
    display: block;
    &.open {
      color: $accent;
      font-family: $font-medium;
    }
  }
  &__sublist {
    display: none;
    padding-left: 20px;
    padding-top: 10px;
    li {
      margin-bottom: 12px;
      padding-left: 12px;

    }
    a {
      display: inline-block;
      border-bottom: 1px dashed $text-color;
      position: relative;
      transition: .3s ease;

      &:hover {
        border-bottom-color: transparent;
      }

      &:after {
        content: '';
        display: block;
        width: 7px;
        background-color: $text-color;
        height: 1px;
        position: absolute;
        top: 8px;
        left: -19px;
      }
      &:before {
        content: '';
        display: block;
        width:5px;
        height: 5px;
        border-top: 1px solid $text-color;
        border-right: 1px solid $text-color;
        transform: rotateZ(45deg);
        position: absolute;
        top: 6px;
        left: -16px;
      }
    }
  }
}

#fb-icon-circle, #inst-icon-circle {
  transition: stroke .3s ease;
}

#fb-icon-stroke, #inst-icon-stroke {
  transition: fill .3s ease;
}

#googleplay-border {
  transition: stroke .3s ease;
}

#googleplay-body {
  transition: fill .3s ease;
}

#appstore-border {
  transition: stroke .3s ease;
}

#appstore-body {
  transition: fill .3s ease;
}

.social-item a:hover #fb-icon-circle,
.social-item a:hover #inst-icon-circle {
  stroke: #fff;
}
.social-item a:hover #fb-icon-stroke,
.social-item a:hover #inst-icon-stroke {
  fill: #fff;
}

.site-footer-apps__item a:hover #googleplay-border,
.site-footer-apps__item a:hover #appstore-border {
  stroke: #fff;
}

.site-footer-apps__item a:hover #googleplay-body,
.site-footer-apps__item a:hover #appstore-body {
  fill: #fff;
}


