.pagination {
  color: #008bcc;
  font-family: $font-helvetica;
  font-size: 12px;
  text-align: center;
  display: block;
  padding: 20px 0;

  span {
    color: #666666;
    display: block;
    width: 35px;
  }

  .active {
    a {
      background-color: #f4f4f4;
      text-decoration: none;
      color: $text-color;
    }
  }

  .disabled {

  }

  &__item {
    display: inline-block;
    a {
      text-decoration: underline;
      padding: 8px 12px;
      display: block;
      border-radius: 3px;
      &:hover {
        text-decoration: none;
        span {
          text-decoration: none;
        }
      }
    }

    &--right {
      float: right;
      span {
        color: #008bcc;
        margin-right: 30px;
        display: inline-block;
        position: relative;
        text-decoration: underline;
        width: auto;
        font-family: $font-medium;

        &:before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 1px;
          background-color: #008bcc;
          position: absolute;
          top: 8px;
          right: -20px;
          transition: .3s ease;
        }
        &:after {
          content: '';
          display: block;
          width: 5px;
          height: 5px;
          border-top: 1px solid #008bcc;
          border-right: 1px solid #008bcc;
          transform: rotateZ(45deg);
          position: absolute;
          top: 6px;
          right: -21px;
          transition: .3s ease;
        }
      }
    }
    &--left {
      float: left;
      span {
        color: #008bcc;
        margin-left: 30px;
        display: inline-block;
        position: relative;
        text-decoration: underline;
        width: auto;
        font-family: $font-medium;

        &:before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 1px;
          background-color: #008bcc;
          position: absolute;
          top: 8px;
          left: -20px;
          transition: .3s ease;
        }
        &:after {
          content: '';
          display: block;
          width: 5px;
          height: 5px;
          border-top: 1px solid #008bcc;
          border-right: 1px solid #008bcc;
          transform: rotateZ(-135deg);
          position: absolute;
          top: 6px;
          left: -21px;
          transition: .3s ease;
        }

      }
    }
  }
}


.breadcrumbs-block {
  padding: 60px 0 15px;
}

.breadcrumbs {
  color: #666666;
  font-size: 12px;
  margin-left: 150px;
  li {
    position: relative;
    padding-right: 10px;
    a {
      display: inline-block;
      span {
        text-decoration: underline;
      }

      &:hover {
        span {
          text-decoration: none;
        }
      }
      &:after {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-right: 1px solid #666666;
        border-top: 1px solid #666666;
        transform: rotateZ(45deg);
        margin-left: 8px;
        position: relative;
        bottom: 1px;
      }
    }
  }
}

.page-title {
  font-family: $font-heavy;
  margin-bottom: 20px;
  margin-top: 10px;
}

.left-container {
  padding-right: 20px;

  img[align="center"] {
    margin-bottom: 25px;
  }
}

.right-sidebar {
  padding-left: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.right-sidebar-title {
  font-family: $font-bold;
  font-size: 20px;
  border-bottom: 1px dashed #dbdbdb;
  padding-bottom: 5px;
  margin-bottom: 5px;

}

.right-sidebar-list {
  padding-bottom: 35px;
  &__title {
    font-size: 16px;
    padding: 8px 0;
    display: block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &.open {
      color: $accent;
      font-family: $font-medium;
    }
  }
  &__sublist {
    display: none;
    padding-left: 20px;
    padding-top: 10px;
    li {
      margin-bottom: 12px;
      padding-left: 12px;

    }
    a {
      display: inline-block;
      border-bottom: 1px dashed $text-color;
      position: relative;
      transition: .3s ease;

      &:hover {
        border-bottom-color: transparent;
      }

      &:after {
        content: '';
        display: block;
        width: 7px;
        background-color: $text-color;
        height: 1px;
        position: absolute;
        top: 8px;
        left: -19px;
      }
      &:before {
        content: '';
        display: block;
        width:5px;
        height: 5px;
        border-top: 1px solid $text-color;
        border-right: 1px solid $text-color;
        transform: rotateZ(45deg);
        position: absolute;
        top: 6px;
        left: -16px;
      }
    }
  }
}

.activity-data {
  font-size: 14px;
  color: #666666;
}
.activity-slider {
  margin: auto;
}

.activity-slider__top {
  margin-bottom: 10px;
  .slick-arrow {
    background-color: rgba(255, 255, 255, .8);
    opacity: .4;
    transition: .3s ease;
    &:hover {
      opacity: 1;
    }
    &:after {
      border-color: #9e9a99;
    }
    &.slick-prev {
      left: 10px;
    }
    &.slick-next {
      right: 10px;
    }
  }
  &--item {
    height: 360px;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
    }
  }
}

.activity-slider__nav {
  margin-bottom: 20px;

  .slick-slide {
    .activity-slider__nav--item {
      &:after {
        content: '';
        display: block;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .4;
      }
    }
  }
  .slick-slide.slick-current {
    .activity-slider__nav--item {
      &:after {
        opacity: 0;
      }
    }
  }
  &--item {
    height: 75px;
    max-width: 115px;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
    }
  }
}


.nav {
  text-align: center;
  .init {
    display: none;
  }
  &__list {
    padding: 20px 0;

    &--item {
      display: inline-block;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}




.nav-button {
  position: relative;
  background-color: #f7f7f7;
  height: 49px;
  padding: 0 20px 0 50px;
  border-radius: 5px;
  display: block;
  transition: .3s ease;
  &:hover {
    background-color: $accent;
    color: #fff;
  }

  &__icon {
    font-size: 20px;
    position: absolute;
    top: 14px;
    left: 19px;
  }

  &__text {
    font-family: $font-helvetica;
    font-size: 14px;
    font-weight: 600;
    line-height: 3.6;
    white-space: nowrap;
  }
}

.block-list {

  &__item {
    margin-bottom: 20px;
  }
}


.three-item-list {
  &__item {
    display: inline-block;
    margin-left: -2px;
    width: 32.9%;
    margin-right: 5px;
    margin-bottom: 6px;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
}


