.my-container {
  width: 1200px;
margin: 0 auto;
}

.uk-navbar-center {
  justify-content: space-between;
}

.padding-md {
  padding: 15px 0;
}

.uk-offcanvas-bar {
  background: gray;
  padding: 15px;
  color: #fff;
}

.slider {
  position: relative;
  .uk-slidenav {
    position: absolute;
    top: 0;
    color: #fff;
    &.uk-slidenav-previous {
      left: 0;
    }
    &.uk-slidenav-next {
      right: 0;
    }

  }
  .my-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
