html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  font-size: $font-size;
}

body {
  background-color: #fff;
  color: $text-color;
  font-size: inherit;
  font-family: $font;
  line-height: 1.2;
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-width: 320px;
}

*, :after, :before {
  box-sizing: border-box;
  outline: none !important;
}

p {
  padding: 0;
  margin-top: 0;
  word-spacing: 1px;
}

a {
  color: inherit;
  outline: none;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

i {
  font-family: $font-italic;
}

div, ul, li, button, input, textarea {
  outline: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  margin: 0;
}

input, button {
  border-radius: 0;
}

h1, h2 ,h3, h4, h5, h6 {
  font-family: $font-comforta-bold;
}

h1, .title-h1 {
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
}

h2, .title-h2 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
}

h3, .title-h3 {
  font-size: 34px;
}

h4, .title-h4 {
  font-size: 22px;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

input, textarea {
  padding: 0 10px;
  border-radius: 0;

  @include placeholder {
    font-size: 14px;
    color: #d4d4d4;
    text-indent: 0;
    transition: 0.3s ease;
    font-family:$font;
  }
}

textarea {
  padding: 10px;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  text-indent: 10px;
}
input:focus:-moz-placeholder{
  opacity: 0;
  text-indent: 10px;
}
input:focus::-moz-placeholder {
  opacity: 0;
  text-indent: 10px;
}
input:focus:-ms-input-placeholder{
  opacity: 0;
  text-indent: 10px;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  text-indent: 10px;
}
textarea:focus:-moz-placeholder{
  opacity: 0;
  text-indent: 10px;
}
textarea:focus::-moz-placeholder {
  opacity: 0;
  text-indent: 10px;
}
textarea:focus:-ms-input-placeholder{
  opacity: 0;
  text-indent: 10px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

b {
  font-family: $font-bold;
}

.text-orange {
  color: $footer-bg;
}