html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  font-size: 14px;
}

body {
  background-color: #fff;
  color: black; //todo
  font-size: rem(20);//todo
  font-family: sans-serif; //todo
  line-height: normal; //todo
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-width: 320px;
}

*, :after, :before {
  box-sizing: border-box;
  outline: none !important;
}

p {
  padding: 0;
  margin-top: 0;
  line-height: 1.714;
  margin-bottom: 5px;
}

a {
  color: inherit;
  outline: none;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
  &:focus {
    text-decoration: none;

  }
}

i {
  font-family: sans-serif;//todo
}

div, ul, li, button, input, textarea {
  outline: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  margin: 0;
}

input, button {
  border-radius: 0;
}

h1, h2 ,h3, h4, h5, h6 {
  font-family: sans-serif;//todo
  color: black; //todo
  text-transform: uppercase;
  margin-top: 0;

  padding: 0;
  line-height: inherit;
}

h1, .title-h1 {
  font-size: 52px;
}

h2, .title-h2 {
  font-size: 46px;
  margin-bottom: 20px;
}

h3, .title-h3 {
  font-size: 34px;
}

h4, .title-h4 {
  font-size: 22px;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

input, textarea {
  padding: 0 10px;
  border-radius: 0;

  @include placeholder {
    font-size: 13px;
    color: #777777;
    text-indent: 0;
    transition: 0.3s ease;
    font-family: sans-serif;
  }
}

textarea {
  padding: 10px;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  text-indent: 10px;
}
input:focus:-moz-placeholder{
  opacity: 0;
  text-indent: 10px;
}
input:focus::-moz-placeholder {
  opacity: 0;
  text-indent: 10px;
}
input:focus:-ms-input-placeholder{
  opacity: 0;
  text-indent: 10px;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  text-indent: 10px;
}
textarea:focus:-moz-placeholder{
  opacity: 0;
  text-indent: 10px;
}
textarea:focus::-moz-placeholder {
  opacity: 0;
  text-indent: 10px;
}
textarea:focus:-ms-input-placeholder{
  opacity: 0;
  text-indent: 10px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
