//////// font var //////////////

$font: "Roboto-Regular", sans-serif;
$font-medium: "Roboto-Medium", sans-serif;
$font-light: "Roboto-Light", sans-serif;
$font-bold: "Roboto-Bold", sans-serif;
$font-black: "Roboto-Black", sans-serif;
$font-italic: "Roboto-Italic", sans-serif;
$font-helvetica: "Helvetica Neue Cur Roman", sans-serif;

$font-comforta-regular: "ComfortaaRegular", sans-serif;
$font-comforta-bold: "ComfortaaBold", sans-serif;
$font-comforta-light: "ComfortaaLight", sans-serif;

$font-heavy: "BoomBoomRegular", sans-serif;

$font-size: 14px;

////////// color var //////////////////////

$accent: #6a2a83;
$accent-hover: #922cab;
$accent-second: #8bd0c0;
$accent-second-hover: #9ce0d0;
$black-background: #231f20;
$footer-bg: #ee6344;
$gray: #838282;


$text-color: #231f20;
$footer-text-color: #9b9b9b;



////////// media query //////////////////////
$desktop: "max-width:1279px";
$tablet: "max-width:991px";
$mobile: "max-width: 767px";