//////// font var //////////////

$font: "Roboto-Regular", sans-serif;
$font-medium: "Roboto-Medium", sans-serif;
$font-light: "Roboto-Light", sans-serif;
$font-bold: "Roboto-Bold", sans-serif;
$font-black: "Roboto-Black", sans-serif;
$font-italic: "Roboto-Italic", sans-serif;

$font-heavy: "Andrijtype", sans-serif;

$font-size: 14px;

////////// color var //////////////////////

$accent: #e95b44;
$black-background: #231f20;


$text-color: #231f20;
$footer-text-color: #9b9b9b;



////////// media query //////////////////////
$desktop: "max-width:1279px";
$tablet: "max-width:991px";
$mobile: "max-width: 767px";