

body:after {
  content: '';
  height: 315px;
  display: block;
  margin-top: 40px;
}

.site-footer {
  background-color: $black-background;
  color: #9b9b9b;
  height: 315px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  padding-top: 30px;
}

.site-footer-top {
  padding: 0 0 53px;
  min-height: 205px;
  border-bottom: 1px dashed #9b9b9b;
}

.site-footer-title {
  font-size: 16px;
  margin-bottom: 15px;
}

.site-footer-list {

  li {
    margin-bottom:7px;
  }
  a{
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.site-footer-timing {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 12px;
}

.site-footer-tel {
  font-family: $font-bold;
  font-size: 16px;
}

.social-block {
  li {
    margin-right: 7px;
    margin-bottom: 10px;
    max-width: 12%;
  }
}

.site-footer-copyright {
  float: left;
}


.site-footer-nav {
  float: right;
  li {
    margin-left: rem(20);
  }
}

.site-footer-bottom {
  padding: 30px 0;
  font-size: 12px;
}

.site-footer-apps {
  &__item {
    margin-right: 5px;
    margin-bottom: 5px;
    max-width: 47%;

    &:last-child {
      margin-right: 0;
    }
    a {
      display: block;
      height: 100%;
    }
  }
}

@media ($desktop) {
  .site-footer {
    height: 300px;
  }
  body:after {
    height: 300px;
  }
}

@media ($tablet) {

  .site-footer-apps {
    &__item {
      margin-right: 0;
      margin-bottom: 5px;
      max-width: 100%;
    }
  }

  .site-footer-top {
    padding: 0 0 20px;
    min-height: 200px;
  }

}



@media ($mobile) {
  body:after {
    content: none;
  }

  .site-footer {
    height: auto !important;
    padding-top: 20px;
    position: relative;
    margin-top: 30px;
  }

  .site-footer-top {
    padding: 0 0 15px;
    min-height: inherit;
  }

  .site-footer-bottom {
    padding: 15px 0;
  }

  .site-footer-list {
    font-size: 1rem;
    padding-bottom: 10px;
  }

  .site-footer-title {
    border-bottom: 1px dashed #9b9b9b;
    padding-bottom: 16px;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
    font-size: 16px;

    &:after {
      content: "";
      display: block;
      height: 7px;
      width: 7px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: rotateZ(135deg);
      position: absolute;
      top: 7px;
      right: 8px;
      -webkit-transition: .3s ease;
      transition: .3s ease;
    }
    &.rotate:after {
      transform: rotateZ(315deg) translateY(5px);
    }
  }

  .site-footer-content {
    display: none;
  }

  .site-footer-copyright {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: rem(10);
  }

  .social-block {
    text-align: center;
  }

  .site-footer-apps {
    text-align: center;
  }

  .site-footer-nav {
    float: none;
    text-align: center;
    &.list-inline {
      &>* {
        display: block;
      }
    }
  }

  .site-footer-timing {
    margin-top: 0;
  }

  .site-footer-tel {
    margin-bottom: 15px;
  }



}

