.page-header {
  margin-bottom: 20px;
}

.page-header-top {
  background-color: $accent;
  height: 50px;
  padding-top: 10px;
  position: relative;
  color: #fff;
}

.main-logo {
  width: 215px;
  height: 77px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  a{
    display: block;
    height: 100%;
    &:after {
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }

}

.main-logo-back {
  position: absolute;
  left: 0;
  bottom: 0;
}

.main-logo-img {
  position: absolute;
  left: 14px;
  top: -5px;
  width: 180px;
  height: 100%;

}

.page-header-right {
  float: right;
  padding-right: 15px;

  &__item {
    display: inline-block;
    vertical-align: top;
    padding-left: 34px;
    position: relative;
    &:not(:last-child):after {
      content: '';
      display: block;
      height: 25px;
      width: 1px;
      background-color: #fff;
      position: absolute;
      top: 3px;
      right: -21px;
      opacity: .5;
    }

  }
}

.page-header-cart {
  position: relative;
  margin-top: 3px;
  padding: 0 13px;

  &.active {
    animation-name: shake;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }

  &__label {
    display: block;
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 10px;
    background-color: $accent-second;
    text-align: center;
    line-height: normal;
    position: absolute;
    top: -1px;
    right: 4px;

  }

  .icon-cart {
    font-size: 23px;
  }

}

@keyframes shake {
  from, 16%, to {
    transform: translate3d(0, 0, 0);
  }
  1.6%, 4.8%, 8%, 11.2%, 14.4% {
    transform: translate3d(-2px, 0, 0);
  }
  3.2%, 6.4%, 9.6%, 12.8% {
    transform: translate3d(2px, 0, 0);
  }
}

.page-header-lang {
  margin-top: 7px;
  padding: 0 10px;

  .dropdown.show {
    .dropdown-toggle:after {
      transform: rotateZ(-45deg);
    }
  }
  .dropdown-toggle {
    font-size: 12px;
    color: #fff;
  }
  .dropdown-toggle:after {
    display: inline-block;
    content: "";
    height: 4px;
    width: 4px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 0;
    transform: rotateZ(135deg);
    position: absolute;
    top: 6px;
    right: -15px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .dropdown-menu {
    left: inherit;
    right: -35px;
    top: 32px;
    min-width: inherit;
    padding: 0;
    margin: 0;
    color: #231f20;
    text-align: center;
    border: 0;
    border-radius: 0;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.25);
    &>a {
      display: block;
      padding: rem(12);
      font-size: rem(24);
      &:hover {
        color: #fff;
        background-color: $text-color;
      }
    }
  }
  .dropdown-item {
    font-family: $font-medium;
    padding: 0;
    font-weight: normal;
    color: $text-color;
    text-align: left;
    &.active {
      background-color: transparent;
      color: $accent;
      a {
        &:hover {
          color: $accent;
        }
      }
    }
    &:active {
      background-color: transparent;
    }
    a {
      padding: 15px 25px;
      display: block;
      transition: .3s ease;
      &:hover {
        background-color: $text-color;
        color: #fff;
      }
    }
    b {
      font-family: $font-bold;
      margin-right: 10px;
      display: inline-block;
    }
  }
}

.page-header-info {
  &__time {
    font-size: 9px;
    text-align: right;
    margin-bottom: 0;
  }
  &__tel {
    font-size: 18px;
    font-family: $font-medium;
  }
}

.page-header-authorize {
  font-size: 12px;
  margin-top: 7px;

  &>a {
    text-decoration: underline;
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
  }
  &__in {
    &:after {
      content: '/';
      display: inline-block;
      margin: 0 5px 0 7px;
    }
  }
}

.page-header-bottom {
  height: 45px;
  background-color: rgba(246, 246, 246, .902);
  position: relative;
  z-index: 1;
}
.page-header-bottom-nav {
  margin-left: 205px;
  display: inline-block;

  &__item {
    padding: 8px 0;
    margin-right: 28px;
    a {
      transition: .3s ease;
      &:hover {
        color: $accent;
        .iconmoon {
          color: $accent;
        }
      }
    }

    .iconmoon {
      position: relative;
      top: 4px;
      color: #666;
      transition: .3s ease;
    }
    .icon-rak {
      font-size: 23px;
      margin-right: 15px;
    }
    .icon-fish {
      font-size: 19px;
      margin-right: 6px;
    }
    .icon-dishes {
      font-size: 18px;
      margin-right: 9px;
      top: 3px;
    }
    .icon-house {
      font-size: 20px;
      margin-right: 11px;
    }
    .icon-electro {
      font-size: 23px;
      margin-right: 7px;
    }

    .icon-fishing-rod {
      font-size: 18px;
      margin-right: 5px;
    }
  }
}

.page-header-bottom-fresh {
  background-color: $black-background;
  color: #fff;
  position: relative;
  height: 52px;
  &__title {
    display: block;
  }

  &__prop {
    position: relative;
    margin-bottom: 0;
    &>img {
      max-width: 12px;
    }

    .country {
      font-size: 10px;
      margin-right: 5px;
    }
  }

  &:hover {
    .page-header-bottom-fresh__dropdown {
      z-index: 5;
      opacity: 1;
      right: 0;
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    right: -9999px;
    background-color: #fafafa;
    color: $text-color;
    width: 263px;
    text-align: left;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.25);
    padding: 12px 12px 0;
    opacity: 0;
    z-index: -1;
    transition: opacity .3s ease;


    li {
      position: relative;
      margin-bottom: 15px;
      a {
        padding-left: 60px;
        display: block;
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 17px;
        padding-top: 5px;
      }
      .page-header-bottom-fresh__dropdown--all {
        padding-left: 0;
        text-align: center;
        border-bottom: 0;
        padding-bottom: 5px;
        margin: -7px 0;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }

    &--image {
      display: inline-block;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 10px;
      top: 15px;
    }
    &--property {

      &>span:first-child {
        font-size: 11px;
        margin-bottom: 11px;
        display: block;
        font-family: $font-medium;
      }
      &>span:last-child {
        color: #888888;
        font-size: 10px;
        display: block;
        &.color-accent {
          color: $accent;
        }
      }
    }

  }


  .icon-anchor {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  .left {
    float: left;
    width: 50px;
    position: relative;
    height: 100%;
  }
  .right {
    margin-left: 50px;
    padding-right: 13px;
    padding-top: 10px;



  }
}

.for-small-devices {
  display: none;
}

.mob-menu {
  background-color: #fbfbfb;
  position: absolute;
  top: 0;
  left: -9999px;
  transition: .3s ease;
  width: 350px;
  z-index: 5;
  &__header {
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
  }
  .page-header-authorize {
    display: block;
    margin-top: 0;
    a {
      display: block;
      padding: 17px 20px;
      font-size: 16px;
      text-decoration: none;
      &:hover {
        background-color: #e1e1e1;
      }
    }
  }
  .page-header-authorize__in:after {
    content: none;
  }
  .page-header-bottom-nav {
    border-top: 2px dashed #eeeeee;
    border-bottom: 2px dashed #eeeeee;
    padding: 10px 0;

  }
  .page-header-bottom-nav__item .iconmoon {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .page-header-bottom-nav__item {
    display: block;
    width: 100%;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    &>a {
      display: block;
      padding: 17px 20px 17px 55px;
      position: relative;
      .iconmoon {
        position: absolute;
        top: 13px;
        left: 15px;
        &.icon-dishes {
          left: 8px;
        }
        &.icon-electro {
          left: 13px;
        }
      }
      &:hover {
        background-color: $text-color;
        color: #fff;
        .iconmoon {
          color: #fff;
        }
      }
    }
  }

  .page-header-bottom-nav__item {
    font-size: 16px;
  }

  .page-header-bottom-nav__item a > span {
    display: inline-block;
  }

  .page-header-bottom-nav__item .iconmoon {
    margin-right: 14px;
  }

  .page-header-lang {
    display: inline-block;
    margin-top: 0;
  }

  .page-header-lang .dropdown-toggle,
  .mob-tel {
    font-size: 16px;
    color: #b2b2b2;
  }


  .page-header-lang .dropdown-toggle:after {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 0;
    top: -3px;
    right: 0;
    position: relative;
  }
}


.mob-menu-close {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  &:before {
    content: '';
    width: 25px;
    height: 1px;
    background-color: $text-color;
    transform: rotateZ(135deg);
    position: absolute;
    top: 14px;
    left: 7px;
    transition: .3s ease;
  }
  &:after {
    content: '';
    width: 25px;
    height: 1px;
    background-color: $text-color;
    transform: rotateZ(45deg);
    position: absolute;
    top: 14px;
    left: 7px;
    transition: .3s ease;
  }
}

.mob-menu-title {
  font-family: $font-heavy;
  font-size: 18px;
  margin-top: 5px;
}

.mob-menu__contacts {
  padding: 20px;
  &--item {
    margin-bottom: 25px;
    *:last-child {
      color: #b2b2b2;
      text-transform: uppercase;
    }
  }
}

.page-header-mob-menu-title {
  font-family: $font-heavy;
  font-size: 22px;
  display: inline-block;
  padding-top: 6px;
}

@media ($desktop) {

  .mob-menu .page-header-bottom-nav {
    display: block;
  }

  .mob-menu-blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .8);
    z-index: 4;
    cursor: pointer;
  }

  .burger-button {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: relative;
    top: 4px;

    span {
      display: block;
      width: 35px;
      background-color: #fff;
      height: 2px;
      position: absolute;
      &:first-child {
        top:10px;
      }
      &:nth-child(2){
        top: 20px;
      }
      &:last-child{
        top: 30px;
      }
    }
  }

  .page-header-authorize {
    display: none;
  }

  .page-header-info {
    display: none;
  }

  .page-header-lang {
    display: none;
  }

  .page-header-right__item:not(:last-child):after {
    content: none;
  }

  .page-header-right {
    padding-right: 5px;
  }

  .page-header-cart {
    margin-top: 10px;
  }

  .main-logo {
    width: 130px;
    left: 50%;
    top: -10px;
    transform: translateX(-50%)
  }

  .main-logo-img {
    top: 11px;
    width: 80%;
    height: 100%;
  }

  .page-header-top {
    height: 65px;
  }

  .page-header-cart .icon-cart {
    font-size: 32px;
  }

  .page-header-bottom-nav__item {
    text-align: center;
    width: 20%;
    margin-right: -2px;
    margin-left: -2px;
    font-size: 14px;
  }
  .page-header-bottom-nav__item .iconmoon {
    display: block;
    width: 100%;
    margin-bottom: 8px;
  }

  .page-header-bottom-nav {
    margin-left: 0;
    display: flex;
    justify-content: space-between;
  }

  .page-header-bottom {
    height: auto;
    margin-bottom: 0;
    padding: 10px 0;
  }

  .page-header-bottom-fresh {
    display: none;
  }

  .page-header-bottom-nav__item .icon-anchor {
    font-size: 25px;
  }

  .for-small-devices {
    display: inline-block;
  }

  .page-header-right__item {
    padding-left: 10px;
  }

  .page-header-mobile-tel .icon-phone {
    font-size: 30px;
    margin-top: 11px;
    display: inline-block;
  }
}

@media ($tablet) {
  .page-header-cart .icon-cart {
    font-size: 29px;
  }

  .page-header-cart {
    margin-top: 2px;
  }

  .burger-button span {
    width: 30px;
  }

  .page-header-top {
    height: 50px;
  }

  .burger-button {
    top: -3px;
  }

  .main-logo {
    width: 110px;
    height: 65px;
  }

  .page-header-bottom-nav__item .icon-house {
    font-size: 23px;
  }
  .page-header-bottom-nav__item .icon-electro {
    font-size: 23px;
  }
  .page-header-bottom-nav__item .icon-rak {
    font-size: 21px;
  }
  .page-header-bottom-nav__item .icon-anchor {
    font-size: 24px;
  }
  .page-header-bottom > .container{
    padding: 0;
  }

  .page-header-mobile-tel .icon-phone {
    font-size: 27px;
    margin-top: 3px;
  }

  .page-header-bottom-nav__item {
    padding: 0;
  }

}

@media ($mobile) {

  .burger-button span {
    width: 25px;
  }
  .burger-button span:first-child {
    top: 13px;
  }
  .burger-button span:nth-child(2) {
    top: 21px;
  }
  .burger-button span:last-child {
    top: 29px;
  }

  .page-header-mobile-tel .icon-phone {
    font-size: 23px;
    margin-top: 7px;
  }

  .page-header-cart .icon-cart {
    font-size: 25px;
    top: 5px;
    position: relative;
  }

  .page-header-bottom-nav {
    justify-content: space-around;
  }

  .page-header-bottom-nav__item {
    font-size: 10px;
  }
  .page-header-cart .iconmoon {
    margin-bottom: 10px;
  }

  .page-header-bottom-nav__item  a > span {
    display: block;
    padding-top: 10px;
    font-family: $font-bold;
  }

  .mob-menu {
    width: 100%;
  }

  .page-header-cart {
    padding: 0;
  }

  .page-header-cart__label {
    top: -1px;
    right: -6px;
  }

  .page-header-top {
    height: 55px;
  }

  .page-header-bottom-nav__item .iconmoon {
    margin-bottom: 0;
  }

  .mob-menu .page-header-bottom-nav__item > a .iconmoon {
    top: 15px;
  }
}