.top-banner {
}

.top-banner-slider {
  &__item {
    height: 525px;
  }

  .slick-dots {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 56px;
    width: 100%;
    li {
      display: inline-block;
      margin-right: 10px;
      &.slick-active {
        button {
          border-color: $accent;
          opacity: 1;
          background-color: $accent;
        }
      }
      button {
        line-height: 0;
        font-size: 0;
        color: transparent;
        padding: 0;
        border: 2px solid #000;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background-color: transparent;
        opacity: .6;
        transition: .3s ease;
        &:hover {
          border-color: $accent;
        }

      }
    }
  }

}

.top-banner-container {
  height: 525px;
  text-align: center;
}

.top-banner-timer {
  max-width: 300px;
  margin: auto;
  height: 100px;
}

.top-banner-text {
  color: #fff;
  background-color: rgba(35, 31, 32, .902);
  font-family: $font-heavy;
  display: inline-block;
  width: 465px;
  padding: 15px 40px 0;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 233px solid transparent;
    border-right: 233px solid transparent;
    border-top: 50px solid rgba(35, 31, 32, .902);
    position: absolute;
    left: 0;
    bottom: -49px;
  }

  
  &__title {
    font-size: 30px;

    &.big {
      font-size: 48px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      padding-bottom: 10px;
      max-width: 360px;
      margin: 0 auto 20px;
      b {
        font-size: 57px;
      }
    }
  }

  &__subtitle {
    font-size: 16px;
    margin-bottom: 0;
  }
  &__button {
    padding: 10px 45px;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: -78px;
  }
}

.main-goods-list {
  position: relative;
  margin-top: -35px;
  margin-bottom: 60px;

  &__item {
    display: inline-block;
    margin-left: -2px;
    margin-right: 4px;
    width: 33%;

    &:nth-child(3n+3){
      margin-right: 0;
    }
  }
}

.accent-block {
  background-color: $accent-second;
  padding: 0 50px;
  color: #ffffff;
  height: 115px;
}

.accent-block__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 44px;
}

.accent-block__list--item {
  color: inherit;
  counter-increment: myCount;
  position: relative;
  padding: 0 0 0 55px;
  display: inline-block;
  font-size: 14px;

  .iconmoon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
  }
}

.accent-block__list--item b {
  font-family: $font-bold;
}


.main-shares {
  position: relative;
  height: 370px;
  text-align: center;
  display: flex;
  align-items: center;
  &__bg-1, &__bg-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &__title {
    font-family: $font-heavy;
    font-size: 32px;
    line-height: 1.3;
    padding: 0 70px;
    margin-bottom: 20px;
    height: 82px;
    overflow: hidden;
  }
  &__subtitle {
    font-size: 18px;
    max-width: 400px;
    margin: 0 auto 20px;
    max-height: 63px;
    overflow: hidden;
  }

  &__apps {
    &--item {
      display: inline-block;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }

    }
  }
}


.seo-text {
  column-count: 2;
  column-gap: 40px;
  color: #727272;
  font-size: 13px;
}

@media ($desktop) {

  .main-goods-list__item {
    margin-right: 3px;
  }

  .main-shares__title {
    font-size: 28px;
    height: 73px;
  }

  .main-shares__subtitle {
    font-size: 16px;
  }

  .main-goods-list__item {
    display: inline-block;
    margin-left: -2px;
    margin-right: 32px;
    width: 31%;
  }
}

@media ($tablet) {
  .main-shares {
    background: #fafafa !important;
    display: block;
    height: auto;
    .container {
      padding: 50px 15px;
    }
  }

  .main-shares__bg-2 {
    position: relative;
    height: 265px;
    width: 100%;
    background-size: cover !important;
  }

  .top-banner-text__title {
    font-size: 28px;
  }
  .main-goods-list__item {
    display: inline-block;
    margin-left: -2px;
    margin-right: 3px;
    width: 33%;
  }

  .accent-block__list {
    padding-top: 35px;
  }


}

@media ($mobile) {

  .main-goods-list__item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    margin-bottom: 10px;
  }

  .top-banner-text__title.big {
    font-size: 30px;
    padding-bottom: 15px;
    margin: 0 auto 20px;
  }

  .top-banner-text__title.big b {
    font-size: 40px;
  }

  .main-goods-list__item:nth-child(3n+3) {
    margin-right: auto;
  }

  .main-goods-list {
    margin-bottom: 30px;
  }

  .accent-block__list {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  .accent-block__list--item {
    width: 260px;
    margin-bottom: 20px;
  }

  .accent-block {
    padding: 0;
    height: auto;
  }

  .main-shares__title {
    padding: 0;
    font-size: 20px;
    height: auto;
  }

  .main-shares {
    height: auto;
    //padding: 30px 0;
  }

  .main-shares__apps--item {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .main-shares__subtitle {
    font-size: 14px;
    max-height: inherit;
  }

  .top-banner-text__title {
    font-size: 20px;
  }

  .top-banner-text__subtitle {
    font-size: 14px;
    margin-bottom: 0;
  }

  .top-banner-text {
    max-width: 300px;
    padding: 15px 20px 0;
    top: 32%;
  }

  .top-banner-container {
    height: 460px;
  }

  .top-banner-text:after {

    border-left-width: 150px;
    border-right-width: 150px;
    border-top-width: 20px;
    bottom: -19px;
  }

  .top-banner-text__button {
    bottom: -50px;
  }

  .top-banner {
    height: 390px;
  }

  .top-banner-slider__item {
    height: 390px;
  }

  .main-goods-list.slick-initialized {
    .main-goods-list__item {
      .goods {
        max-width: 240px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  .seo-text {
    column-count: 1;
    column-gap: 0;
    font-size: 13px;
    margin-top: 20px;
  }

}
